###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=change_me_to_random_string
###< symfony/framework-bundle ###

###> symfony/mailer ###
MAILER_DSN=smtp://user:password@smtp.example.com:587
###< symfony/mailer ###

###> app ###
OWNER_EMAIL=vladislav.trubnikov@example.com
OWNER_NAME="Vladislav Trubnikov"
###< app ###
