@use 'variables' as *;

.stack {
  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--sp-12);

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
      gap: var(--sp-10);
    }
  }

  &__group {
    background-color: transparent;
  }

  &__group-title {
    color: var(--color-text-faint);
    font-size: 0.875rem;
    margin-bottom: var(--sp-6);
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    gap: var(--sp-3);
  }
}
